body{
  background: #16132d;
}
h1{
  font-size: 15px;
  color: white;
  /* -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5); */
  font-family: 'Poppins', sans-serif;
  -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);
}
.home{
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 5%;
  left: 4%;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
button:focus{
  outline: 0;
}
.about{
  position: fixed;
  bottom: 5%;
  left: 5%;
  text-align: center;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.name{
  text-align: center;
  position: fixed;
  bottom: 45%;
  left: 3%;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.title {
margin-top: 100px;
margin-bottom: 50px;
  text-align: center;
		font-size: 80px;
		color: transparent;
		-webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
		font-family: sans-serif;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.pTitle{
  font-size: 20px;
  color: white;
  /* margin-right: 20%; */
  /* margin-top: 80px; */
  /* margin-bottom: 50px; */
  margin-left: 100px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.role{
  color: white;
  font-size: 20px;
  /* margin-right: 130px; */
  margin-left: 50%;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.roleS{
    font-size: 15px;
    color: white;
    margin-left: 50%;
    margin-bottom: 10px;
    width: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.logo{
  width: 400px;
  height: 400px;
}
.flexPic{
  display: flex;
  justify-content: center;
}
p{
  font-size: 20px;
  color: white;
  width: 450px;
  margin-right: 130px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.first{
  margin-right: 130px;
  margin-top: 100px;
  margin-bottom: 30px;
    text-align: right;
  		font-size: 55px;
  		color: transparent;
  		-webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
  		font-family: sans-serif;
      -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
h3{
  margin-right: 130px;
  margin-top: 40px;
  margin-bottom: 30px;
    text-align: center;
      font-size: 55px;
      color: transparent;
      -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
      font-family: sans-serif;
      -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a:link {
  color: #E3DFFF;
}

a:visited {
  color: #E3DFFF;
}
.flexDescription{
  display: flex;
  justify-content: center;
  margin-left: 2%;

}
.flexVertical{
  display: flex;
  justify-content: center;
  margin-left: -17%;
}
.flexAll{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* margin-left: 18%;
  margin-bottom: 5%; */
}
.flexAgain{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 15%;
  margin-bottom: 5%;
}
.showPic{
  margin-left: 25%;
  margin-bottom: 3%;
  width: 800px;
  height: 500px;
  object-fit: cover;
}
.showPicTwo{
  margin-left: 25%;
  margin-bottom: -5px;
  width: 800px;
  height: 500px;
  object-fit: cover;
}
.showPicCHAT{
  margin-left: 25%;
  margin-bottom: 0px;
  width: 400px;
  height: 500px;
    margin-bottom: 3%;
}
