
body{
  background: #16132d;
}
h1{
  font-size: 15px;
  color: white;
  /* -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5); */
  font-family: 'Poppins', sans-serif;
  -webkit-transform: rotate(-90deg);
 -moz-transform: rotate(-90deg);
 -ms-transform: rotate(-90deg);
 -o-transform: rotate(-90deg);
}
a:link {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
}

a:visited {
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
}

.home{
  border-radius: 50%;
  background-color: transparent;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 5%;
  left: 4%;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
button:focus{
  outline: 0;
}
.about{
  position: fixed;
  bottom: 5%;
  left: 5%;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.name{
  text-align: center;
  position: fixed;
  bottom: 45%;
  left: 3%;
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
h2,h3,h4 {
margin-right: 130px;
margin-top: 100px;
margin-bottom: 100px;
  text-align: right;
		font-size: 80px;
		color: transparent;
		-webkit-text-stroke: 2px rgba(255, 255, 255, 0.5);
		font-family: sans-serif;
    -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
h2:hover{
  letter-spacing: 22px;
  -webkit-text-stroke: 2px #E1BB80;
}
h3:hover{
  letter-spacing: 22px;
  -webkit-text-stroke: 2px #E3DFFF;
}
h4:hover{
  letter-spacing: 22px;
  -webkit-text-stroke: 2px #38AECC;
}
span,p{
  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
.dotWeb{
  height: 25px;
  width: 25px;
  background-color: #E1BB80;
  border-radius: 50%;
  text-align: center;
}
.dotProduct{
  height: 25px;
  width: 25px;
  background-color: #E3DFFF;
  border-radius: 50%;
  text-align: center;
}
.dotOther{
  height: 25px;
  width: 25px;
  background-color: #38AECC;
  border-radius: 50%;
  text-align: center;
}
.colors{
  position: fixed;
  top: 30%;
  left: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  font-size: 20px;
  color: white;
  font-family: 'Poppins', sans-serif;
}
